#exp{
  background-color: #FFE800 ;
}

#for{
background-color: #CB1176 ;
}

#big{
background-color: #FFBB00 ;
}

#amb{
background-color: #0E8C98 ;
}

#amb1{
background-color: #73FD00 ;
}

#amb2{
background-color: #FF490B ;
}

#amb3{
background-color: #603CE5 ;
}

#amb4{
background-color: #5F0000 ;
}

#amb5{
background-color: #110542 ;
}

#amb6{
background-color: #A3A500 ;
}

#amb7{
background-color: #210C1D ;
}

#contact{
  background-color: #626262 ;
}

body {
  background-color: #2F3B48 ;
}
